<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Technology in 2021</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <div>
            <header class="top">
                <h1>Technology and Financial Growth</h1>
                <h2>A blog featuring the latest news in Tech and Finance </h2>
            </header>
            <nav class="top">
                <a href="/"><h3>Home</h3></a>
                {{#if logged_in}}
                <a href="/create-post"><h3>Make a Post</h3></a>
                <a href="/profile"><h3>Profile</h3></a>
                <a href="/logout"><h3>Logout</h3></a>
                {{else}}
                <a href="/login"><h3>Login</h3></a>
                {{/if}}
            </nav>
            <main class="main">
                {{{ body }}}
            </main>
        </div>

        {{!-- <script src=""></script> --}}
    </body>
</html>