<form>
    <h3>Create New Thread</h3><hr>
        <div class="create-post-title">
            <label for="post-title">Title:</label>
            <input type="text" id="post-title" name="post-title" placeholder="post title here"/>
        </div>
        <div class="create-post-content">
            <label for="post-content">Content:</label>
            <textarea type="text" id="post-content" name="post-content" placeholder="post content here"></textarea>
        </div>
        
        <button id="btn" class="createbtn">Create Post</button>
        <div id="msg">
            <pre></pre>
        </div>
</form>
<script src="/js/createPost.js"></script>