<div class="post-display">
    <div class="post-header">
        <h3>{{title}}</h3>
        <h4>Posted by: {{user.name}}</h4>
        <h4>at {{date_created}}</h4>
    </div>
    <div class="post-body">
        <p>{{body}}</p>
    </div>
</div>>