:root {
    /* --preview-background: rgba(0, 139, 255, 0.5) */
}

body {
    /* /* /* background-image:  * will add background image */
}

.top {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 25px;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    color: white;
    background-color: whitesmoke;
    background-image: radial-gradient(rgba(0, 255, 255, 0.692), rgba(0, 255, 42, 0.301));
}

.main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    color: rgb(74, 101, 255);
}

.post-preview {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 5px;
    background-color: var(--preview-background);
    border: 2px solid rgb(0, 102, 255);
    border-radius: 15px;
}

.post-preview > .post-meta {
    justify-content: space-around;
}

.post-meta > p {
    margin-left: 2px;
    margin-right: 2px;
    border: 0.5px solid rgba(0, 119, 255, 0.363);
    border-radius: 15px;
    padding: 10px;
    justify-self: center;
}

.login-page > form {
    display: flex;
    flex-flow: column wrap;
    width: 500px;
    align-items: center;
    border: 2px solid blue;
    border-radius: 15px;
    background-color: var(--preview-background);
}
.login-page > form div {
    margin-bottom: 20px;
}